@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "Información de Contacto";
}

<h2>@ViewBag.Message</h2>
<address>
    Javier Cañadulce Huesa<br />
    Bogotá, Colombia<br />
    <abbr title="Número de Contacto" style="color:cornflowerblue">Móvil:</abbr>
    (+57) 315-2369816
</address>

<address>
    <strong>Soporte:&nbsp;</strong> <a href="mailto:bsjavca@gmail.com">bsjavca@gmail.com</a><br />
    <strong>Marketing:&nbsp;</strong> <a href="mailto:bsjavca@gmail.com">bsjavca@gmail.com</a>
</address>