@{
    ViewBag.Title = "[JavCaHu]";
}

<div class=" jumbotron" style="margin-top:2%">
    <h2>INGENEO S.A.S</h2>
    <p class="lead">Esta es un Prueba Técnica de una Página Web que permite Consultar, Ingresar, Actualizar y Eliminar la información del clima en una Base de Datos SQL Server.</p>
    <p><a href='@Url.Action("IniciarSesion", "Usuarios")' class="btn btn-primary btn-lg">Iniciar Sesión &raquo;</a></p>
</div>